## Data Types and Structures Questions

1. What are data structures, and why are they important?

 Data structures are tools that help you organize and manage data efficiently in your programs. They allow you to store collections of data and perform operations like insertion, deletion, sorting, and searching.they are like containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

Importance of data structure:

1.Choosing the right data structure significantly impacts the efficiency and performance of your program.

2.Well-chosen data structures can:
- Simplify data manipulation (adding, removing, modifying elements)
- Optimize searching and sorting operations
- Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.

 Mutable objects can be changed after creation. This means you can modify, add, or delete their elements in place, without changing their identity (memory address).

Examples:
- List
- Dictionary
- Set

 Immutable objects cannot be changed after creation. Any operation that seems to modify them actually creates a new object.

Examples:
- Integer
- Float
- String
- Tuple
- Boolean

3. What are the main differences between lists and tuples in Python?

List -

- Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
-  Can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

Tuple -
- Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
- Can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

4. Describe how dictionaries store data.
- Dictionary stores data in key-value pair.
 Each key acts as a unique identifier for retrieving an associated value.
-  Keys must be immutable (e.g., strings, numbers, tuples with only immutables).

- Values can be anything — mutable or immutable.

5. Why might you use a set instead of a list in Python?

- Set can be use instead of List in python because :-

- Sets automatically remove duplicates, while lists allow them.

- Sets are faster than lists for checking whether an item exists.

- Sets support powerful mathematical operations like:

  Union (set1 | set2)

  Intersection (set1 & set2)

  Difference (set1 - set2)

  Symmetric difference (set1 ^ set2)

- These are cleaner and more efficient than using loops on lists.

6. What is a string in Python, and how is it different from a list?

strings :-
- string Data type is a Sequence of character
- string is Immutable (cannot be changed)
- string is Enclosed by	Quotes (' or ")
- example	"hello"
- methods use is String-specific (e.g. .upper(), .find())

list :-
- liist data type is a Sequence of elements (any type)
-list is Mutable (can be changed)
- list is Enclosed by Square brackets ([])
- example ['h', 'e', 'l', 'l', 'o']
methods use is List-specific (e.g. .append(), .sort())

7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity in Python by:
- Being immutable and hashable ensures that the data remains fixed and consistent throughout the program.
- Allowing safe usage in sets/dicts where data integrity is critical.
- Supporting structured, read-only data where the number and type of fields shouldn't change.
- Preventing accidental changes that makes programs easier to understand and less error-prone.

8. What is a hash table, and how does it relate to dictionaries in Python?


A hash table is a data structure that stores key-value pairs and allows fast access to values based on their keys using a technique called hashing.

In Python, a dictionariws is implemented using a hash table, for eg :

user = {"name": "Alice", "age": 30}

Hashes the keys "name" and "age".

Stores their associated values ("Alice", 30) at computed positions in memory using a hash table.

This makes dictionary operations like user["name"] extremely fast.

9. Can lists contain different data types in Python?

 lists can contain different data types in Python

 example :-

 my_list = [1, "hello", 3.14, True, [2, 3], {"key": "value"}]
print(my_list)

In the above list:

1 is an integer.

"hello" is a string.

3.14 is a float.

True is a boolean.

[2, 3] is another list (nested list).

{"key": "value"} is a dictionary.

10. Explain why strings are immutable in Python.

Strings are immutable in Python, meaning once a string is created, it cannot be changed. Instead, any operation that modifies a string returns a new string. This design has several important reasons and benefits:
- Interning	Saves memory, improves performance
- Hashability	Allows use as dict/set keys
- Safety	Prevents accidental changes
- Thread Safety	Safe to use across threads

11. What advantages do dictionaries offer over lists for certain tasks?

 Advantages of Dictionaries over Lists in Python:
- Faster Lookups: Accessing data by key is much quicker (O(1)), unlike lists which require searching (O(n)).
- Key–Value Pairing: Dictionaries store data with meaningful keys, making code more readable and organized.
- No Need for Indexing: You don’t have to remember positions—just use descriptive keys.
- Flexible Structure: Easily add, update, or remove items without worrying about order.
- Great for Sparse Data: Store only the necessary values without wasting memory.
- dictionaries are used when you need to map one thing to another (like names to phone numbers).
- lists are used when you just need an ordered collection of items.

12. Describe a scenario where using a tuple would be preferable over a list.

A tuple is preferable over a list when you need to store a fixed collection of values that should not change.

Using a tuple here is better than a list because:
- The returned values are fixed in number and meaning.
- You don’t intend to modify the contents later.
- Tuples are more efficient and signal that the data is read-only.

13. How do sets handle duplicate values in Python?

Sets in Python automatically remove duplicates.
They store only unique elements, so any repeated values are ignored.
Sets are unordered collections backed by a hash table.

When an element is added, Python checks if it’s already in the set.
If it's a duplicate, it’s ignored.

14. How does the “in” keyword work differently for lists and dictionaries?

In a list, in checks for a value.

In a dictionary, in checks for a key. (use value in dict.values() to check values)

15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple because tuples are immutable in Python.

Once a tuple is created, its elements cannot be changed, added, or removed. This design ensures data integrity and allows tuples to be used as keys in dictionaries.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary where values are themselves dictionaries.

Use Case: Storing structured data like student records
Example:

students =

 {

    "101": {"name": "Alice", "age": 20},

    "102": {"name": "Bob", "age": 22}
}

print(students["101"]["name"])  
 Output: Alice

17. Describe the time complexity of accessing elements in a dictionary.

18. In what situations are lists preferred over dictionaries?

Lists are preferred over dictionaries when:

Order matters – Lists maintain item order and support indexing.

You need a simple sequence – For storing items without key-value pairs.

Duplicates are allowed – Unlike sets or keys in dictionaries.

Data is accessed by position – Use indexes like list[0], list[1].

Example:

fruits = ["apple", "banana", "cherry"]

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because their elements are accessed by keys, not position.

Impact on Data Retrieval:

Items can't be accessed by index (like dict[0]).

Values must be retrieve by using keys.

Example:

user = {"name": "Alice", "age": 25}

print(user["name"])

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists:-
- lists are used when order and position matter.
- Retrieves data by index (numeric position).

Dictionary:-
- dictionaries are used when labeled, structured data is needed.
- Retrieves data by key (a unique label).

## Practical

In [30]:
# 1. Write a code to create a string with your name and print it.
name = "Poonam Mishra"
print(name)

Poonam Mishra

In [31]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [32]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
slice = text[:3]
print(slice)

Pyt

In [33]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [34]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [35]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [36]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [37]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [39]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [40]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [41]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [43]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [44]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [46]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
for i in range(len(animals)):
    if animals[i] == "cat":
        print(i)
        break

1

In [47]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [48]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [49]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [50]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [51]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [52]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [53]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [54]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [55]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [56]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [57]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [58]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (7, 8, 9)
my_dict = {"name": "Poonam", "age": 29}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (7, 8, 9)
Dictionary: {'name': 'Poonam', 'age': 29}

In [63]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [7, 19, 47, 86, 98]

In [65]:
# 28. Write a code to create a list with strings and print the element at the third index.
colors = ["red", "blue", "green", "yellow", "purple"]
print(colors[3])

yellow

In [67]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"x": 10, "y": 20}
dict2 = {"z": 30, "w": 40}

combined = dict1 | dict2
print(combined)

{'x': 10, 'y': 20, 'z': 30, 'w': 40}

In [68]:
# 30. Write a code to convert a list of strings into a set.
colors = ["red", "blue", "green", "red"]
color_set = set(colors)
print(color_set)

{'green', 'blue', 'red'}